@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "linotype-sabon", sans-serif;
}

.mask-clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.travel-experience {
  @apply absolute right-[200px] top-0 z-20 h-[600px] w-[800px] origin-center overflow-hidden rounded-3xl md:w-[30vw];
}

.no-scroll {
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.spinner {
  opacity: 0;
  animation: spinnerAnimation 4s ease-in-out 1 forwards, spin 1s linear infinite;
}

.loaderContainer svg path {
  fill: transparent;
  stroke: #fff;
  stroke-width: 1px;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: textAnimation 4s ease-in-out 1 forwards;
}

@keyframes textAnimation {
  0% {
    stroke-dashoffset: 800;
  }
  80% {
    fill: transparent;
  }
  100% {
    fill: #fff;
    stroke-dashoffset: 0;
  }
}

@keyframes spinnerAnimation {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
